#jumbotron {
    background-color:#e9ecef;
}

#suggestions {
    margin-top: 20px;
}

.suggestion + .suggestion {
    padding-left: 10px;
}

.result-img {
    height: 200px;
    min-width:200px;
    background-color: #CCC;
}

#footer {
    padding-top: 50px;
}
